<!-- wp:template-part {"slug":"header","theme":"hof-blox"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":69,"query":{"perPage":24,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"layout":{"type":"constrained"},"anchor":"indux"} -->
<div id="indux" class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"auto","width":"98%","height":"","scale":"contain","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"},":hover":{"color":{"text":"var:preset|color|custom-leaf"}}}},"typography":{"fontStyle":"normal","fontWeight":"300","textTransform":"uppercase"},"spacing":{"margin":{"left":"2rem","right":"1rem","top":"1rem","bottom":"1rem"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"3rem"}}},"textColor":"white"} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"align":"left","style":{"typography":{"textTransform":"uppercase","letterSpacing":"3px","fontStyle":"normal","fontWeight":"300"},"elements":{"link":{"color":{"text":"var:preset|color|white"},":hover":{"color":{"text":"var:preset|color|custom-leaf"}}}}},"textColor":"white","fontSize":"medium","fontFamily":"apotek-comp"} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>Apologies. The thing you wanted to find seems to be missing. Hit Cmd/Ctrl-[ to get back where you were?</p>
<!-- /wp:paragraph --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"hof-blox"} /-->