<!-- wp:group {"tagName":"header","metadata":{"name":"wrap"},"align":"full","style":{"dimensions":{"minHeight":"150px"},"spacing":{"margin":{"top":"2rem"}}},"backgroundColor":"font-primary","layout":{"type":"default"},"paddingTop":1,"paddingBottom":1,"paddingLeft":1,"paddingRight":1} -->
<header class="wp-block-group alignfull has-font-primary-background-color has-background pt__1 pb__1 pl__1 pr__1" style="min-height:150px;margin-top:2rem"><!-- wp:ainoblocks/flexbox {"align":"wide","justifyContentDesktop":"justify__between__d","justifyContentTablet":"justify__between__t","justifyContentMobile":"justify__between__m","alignItemsDesktop":"align-items__center__d","alignItemsTablet":"align-items__center__t","alignItemsMobile":"align-items__center__m","alignContentDesktop":"align-cont__center__d","paddingTop":3,"paddingBottom":3,"paddingLeft":1,"paddingRight":1} -->
<div class="wp-block-ainoblocks-flexbox alignwide direction__row__d direction__row__t direction__row__m nowrap__d nowrap_t nowrap_m justify__between__d justify__between__t justify__between__m align-items__center__d align-items__center__t align-items__center__m align-cont__center__d align-cont__stretch__t align-cont__stretch__m shadow-none wide pt__3 pb__3 pl__1 pr__1"><!-- wp:site-logo {"width":400,"align":"left","style":{"spacing":{"margin":{"top":"0px","right":"1vw","bottom":"0rem","left":"0vw"}}}} /-->
                                                                                                                                                                                                                                                                                                                                                                                   
                                                                                                                                                                                                                                                                                                                                                                                   <!-- wp:template-part {"slug":"main","theme":"HOF-blox"} /--></div>
                                                                                                                                                           <!-- /wp:ainoblocks/flexbox --></header>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"width":"","height":"50vh","scale":"contain","align":"left","style":{"spacing":{"margin":{"top":"2rem","bottom":"4rem","right":"0px"}}},"className":"featuredplax"} /-->
                            
                            <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"1rem"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"23px"} -->
<div style="height:23px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-content {"layout":{"type":"constrained","contentSize":"72vw","wideSize":"72vw","justifyContent":"left"}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"23px"} -->
<div style="height:23px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","theme":"hof-blox"} /-->